{% extends 'base.html' %}

{% block content %}
  <br>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
  <h2>Информация о пользователе</h2>
  <div class="card" style="width: 25rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Имя пользователя: {{ request.user }}</li>
      <li class="list-group-item">Фамилия и имя: {{ request.user.last_name }} {{ request.user.first_name }}</li>
      <li class="list-group-item">Email: {{ request.user.email }}</li>
    </ul>
  </div>
  <hr>

  <h4 class="mt-4">Изменить данные пользователя</h4>
  <form method="post" enctype="multipart/form-data" style="width: 25rem;">

    {% csrf_token %}
    {{ update_user }}
    <button type="submit" class="btn btn-outline-warning" style="margin-top: 10px;">Обновить</button>
  </form>
{% endblock content %}
